SECRET_KEY=пропишите ключ проекта
DEBUG=пропишите буулевое значение True или False
DB_NAME=пропишите название базы данных
DB_USER=пропишите название пользователя
DB_PASSWORD=пропишите пороль пользователя
TOKEN=пропишите токен телеграм бота который вы можете получить в https://t.me/BotFather
API_BASE_URL=пропишите основной путь апишки с которым вы будете работать